HOME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]
default_bits       = 4096
#default_keyfile    = serverkey.pem
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions
string_mask        = utf8only
prompt             = no

####################################################################
[ server_distinguished_name ]
countryName          = 2 Letter Country Code
stateOrProvinceName  = Region
localityName         = Town or City
organizationName     = Company
commonName           = Department
emailAddress         = Email@Address

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
subjectAltName       = @alternate_names
nsComment            = "OpenSSL Generated Certificate"

####################################################################
# Change these to match the DNS names you want the certificate to apply to
[ alternate_names ]

DNS.1  =
DNS.2  =
# ...
